page-product-detail {
    .productImg{
        height:200px;
    }
    .detail_info{
        padding: 10px;
        .product_name{
            font-size:20px;
            font-weight:bold;
        }
        .product_price{
            font-size:18px;
        }
        .product_quantity{
            padding:10px;
            font-size: 14px;
            width: 30%;
        }
        .product_qty{
            padding:10px;
            width: 28%;
            font-size: 14px;
        }

    }
    .related_products{
        padding-top:10px;
        font-size:20px;
        font-weight: bold;
    }
    .productImg{
        height:175px;
        position: relative;
        margin-bottom:10px;
        margin-right:10px;
        .price_label{
            position: absolute;
            z-index: 999;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 20px; 
            height: 72px;
            background:rgba(255,255,255,0.8);
            text-align: center;
            width: 100%;
        }
    }
        

}
