<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>product-detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row  *ngFor="let data of products">
        <ion-col col-6> <!-- JUST ADD A col-4 attribute -->
            <div class="products_list">
                <div class="productImg" [ngStyle]="{'background-image': 'url(assets/imgs/'+ data?.image + ')','background-size':'cover','background-repeat':'no-repeat','background-position':'center'}">
                </div>    
            </div>

        </ion-col>
        <ion-col col-6>
          <div class="detail_info">
            <div class="product_name">{{data.name}}</div>
            <div class="product_price">&#x20B9;	 {{data.price}}</div>

            <button class="product_qty" color="light" (click)="decreaseproductcount()">
              -
            </button>
            <button class="product_quantity" color="dark" style="font-size:14px;">
              {{productCount}}
            </button>
            <button class="product_qty" color="light" (click)="incrementproductcount()"  style="font-size:14px;">
              +
            </button>
  
            <button ion-button color="primary">Add to cart</button>

          </div>
          
        </ion-col>
    </ion-row>
</ion-grid>
<ion-row>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</ion-row>

<div class="related_products">Related Products</div>
<ion-grid no-padding class="home-gallery">
  <ion-row>
      <ion-col col-6 *ngFor="let data of relproducts"> <!-- JUST ADD A col-4 attribute -->
          <div class="products_list" (click)="pushPage(data.id)">
              <div class="productImg" [ngStyle]="{'background-image': 'url(assets/imgs/'+ data?.image + ')','background-size':'cover','background-repeat':'no-repeat','background-position':'center'}">
                <div class="price_label">
                  <div class="product_name">{{data.name}}</div>
                  <div class="product_price">&#x20B9;	 {{data.price}}</div>
                </div>
              </div>    
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
