<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="type_tab" color="primary" >
    <ion-segment-button value="chicken" >Chicken</ion-segment-button>
    <ion-segment-button value="fish">Fish</ion-segment-button>
    <ion-segment-button value="mutton">Mutton</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="type_tab">
    <div class="weapper" *ngSwitchCase="'chicken'" style="padding-top:5px;"> 
<ion-grid no-padding class="home-gallery">
    <ion-row>
        <ion-col col-6 *ngFor="let data of products"> <!-- JUST ADD A col-4 attribute -->
            <div class="products_list" (click)="pushPage(data.id)">
                <div class="productImg" [ngStyle]="{'background-image': 'url(assets/imgs/'+ data?.image + ')','background-size':'cover','background-repeat':'no-repeat','background-position':'center'}">
                  <div class="price_label">
                    <div class="product_name">{{data.name}}</div>
                    <div class="product_price">&#x20B9;	 {{data.price}}</div>
                  </div>
                </div>    
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
</div>
</div>
<div [ngSwitch]="type_tab">
  <div class="weapper" *ngSwitchCase="'fish'" style="padding-top: 5px;">
  </div>
</div>

</ion-content>
