page-home {
    .segment-ios .segment-button{
        border-style: none !important;
    }
    .productImg{
        height:175px;
        position: relative;
        margin-bottom:10px;
        margin-right:10px;
        .price_label{
            position: absolute;
            z-index: 999;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 20px; 
            height: 72px;
            background:rgba(255,255,255,0.8);
            text-align: center;
            width: 100%;
        }
    }
}
